APPWRITE_FUNCTION_ENDPOINT=
APPWRITE_FUNCTION_PROJECT_ID=
APPWRITE_FUNCTION_API_KEY=

APPWRITE_ENDPOINT=https://appwrite.racoondevs.com/v1
APPWRITE_PROJECT_ID=
APPWRITE_API_KEY=
APPWRITE_DB_ID=main
APPWRITE_COL_RENTAL_PROPOSALS_ID=rental_proposals
