# Appwrite Runtime (auto injected)
APPWRITE_FUNCTION_ENDPOINT=
APPWRITE_FUNCTION_PROJECT_ID=
APPWRITE_FUNCTION_API_KEY=
APPWRITE_FUNCTION_USER_ID=

# Unified fallback configuration
APPWRITE_ENDPOINT=https://appwrite.racoondevs.com/v1
APPWRITE_PROJECT_ID=
APPWRITE_API_KEY=
APPWRITE_DB_ID=main

# Collections
APPWRITE_COL_PROFILES_ID=profiles
