.fade {
  animation: fadeEffect 0.5s ease;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
    transform: translateX(120px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-reverse {
  animation: fadeReverseEffect 0.5s ease;
}

@keyframes fadeReverseEffect {
  from {
    opacity: 0;
    transform: translateX(-120px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
